doctype html
html
    head
        title="Mat på Chalmers Johanneberg"
        style
            include style.css
    body
        each rs in rss
            div(class="r")
                h2= rs.name
                each r in rs.vals
                    h3= r.title
                    p= r.descr

        img(src='/thegif.gif')
